<section class="pie">
    <div class="social">
        <h1>Contáctenos por redes sociales</h1>
        <ul> 
            <li><a href="https://www.facebook.com/nike"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/c/nike"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/nike/"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/Nike"><i class="fa fa-twitter"></i></a></li>           
        </ul> 
        <h2>SizeConverter 2022-Información legal</h2> 
        <h3>Política de cookies</h3>  
        <h3>Términos y condiciones de uso ©</h3>
    </div>
</section>
