<section class="cuerpo">
    <h1>Seleccione una opción obtener su talla<br><br> </h1>
    
    <div class="row">
        <div class="container">
            <img src="assets/medida.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">Medidas</div>
            </div>
        </div>

       

        <div class="container">
            <img src="assets/talla.jpg" alt="Avatar" class="image" style="width:100%" routerLink="/resultados">
            <div class="middle">
                <div class="text">Tallas</div>
            </div>
        </div>  
    </div>
  </section>

