.cuerpo{  
    margin-top: -12px;
    position: relative;
    display: table;
    position: relative;
    background: #DCDCDC;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
  }