<section class="cuerpo">
    <h1>Tu talla. Sin complicaciones.<br><br> En tres pasos.</h1>
    <h2>Seleccione la prenda</h2>
    <div class="row">
        <div class="container">
            <img src="assets/tshirt.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">Camisetas</div>
            </div>
        </div>

        <div class="container">
            <img src="assets/jeans.jpg" alt="Avatar" class="image" style="width:100%">
            <div class="middle">
                <div class="text">Pantalones</div>
            </div>
        </div>

        <div class="container">
            <img src="assets/shoes.jpg" alt="Avatar" class="image" style="width:100%" routerLink="/elegir">
            <div class="middle">
                <div class="text">Zapatos</div>
            </div>
        </div>  
    </div>
  </section>
